<div class="center jumbotron">
  <h1>Bienvenue à la bitcherie !</h1>
  <h3>
    Sponsorisé par l'association des concierges de France 
  </h3>
  <%= link_to "Enregistre-toi !", '/users/sign_up', class: "btn btn-lg btn-primary" %>
</div>